<template>
  <div class="test">
    <input type="text" v-model="title"></br>
    <h1>{{title}}</h1>
    <br>
    <span>Multiline message is:</span>
    <p style="white-space: pre">{{ message }}</p>
    <br>
    <textarea v-model="message" placeholder="add multiple lines"></textarea>
    <br>
    <input type="checkbox" id="checkbox" v-model="checked">
    <label for="checkbox">{{ checked }}</label>
    <br>
    <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
    <label for="jack">Jack</label>
    <input type="checkbox" id="john" value="John" v-model="checkedNames">
    <label for="john">John</label>
    <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
    <label for="mike">Mike</label>
    <br>
    <span>Checked names: {{ checkedNames }}</span>
    <br>
    <p v-if="showName">{{user.firstName}}</p>
    <p v-else>Nobody</p>
    <br>
    <ul>
      <li v-for="item in items">{{item.title}}</li>
    </ul>
    <br>
    <button v-on:click="greet('Hello World')">Say Greeting</button>
    </br><br>
    <input type="text" v-on:keyup="pressKey" v-on:keyup.enter="enterHit">
    <hr/>
    <label>First Name</label><input type="text" v-model="user.firstName">
    <br/>
    <label>Last Name</label><input type="text" v-model="user.lastName">
    <br>
    <h3>{{fullName}}</h3>
  </div>
</template>

<script>
export default{
  name: 'test',
  data () {
    return {
      title: 'Hello World',
      message: 'Multi line field',
      checked: false,
      checkedNames: [],
      user: {
        firstName: 'Kenneth',
        lastName: 'Phang'
      },
      showName: true,
      items: [
        {title: 'Apple'},
        {title: 'Orange'},
        {title: 'Durian'}
      ]
    }
  },
  methods: {
    greet: function (e) {
      alert(e)
    },
    pressKey: function (e) {
      e.preventDefault()
      console.log('press key')
      console.log(e.target.value)
    },
    enterHit: function (e) {
      console.log('enter hit')
      console.log(e.target.value)
    }
  },
  computed: {
    fullName: function () {
      return this.user.firstName + ' ' + this.user.lastName
    }
  }
}
</script>

<style scoped>

</style>
