<template>
  <div id="app">
    <!--<router-view></router-view>-->
    <test msg="Hello World 2"></test>
  </div>
</template>

<script>
import Test from './components/test'

export default {
  name: 'app',
  components: {
    Test
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
